################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Power6Rangers/.vs/Power6Rangers/v17
/Power6Rangers/.vs/Power6Rangers/FileContentIndex/334e01fc-b987-4c92-852d-8c7ff732b5bd.vsidx
/Power6Rangers/.vs/Power6Rangers/FileContentIndex/3d0c9cd1-6715-4bb1-88ab-0587cb5c5788.vsidx
/Power6Rangers/.vs/Power6Rangers/FileContentIndex/b5822b07-26fd-432a-8afc-63ba57a00216.vsidx
/Power6Rangers/.vs/Power6Rangers/FileContentIndex/c7c5a026-7e6f-4cce-9220-2b6fed968b38.vsidx
/Power6Rangers/.vs/Power6Rangers/FileContentIndex/cd90bb3d-69ee-4b2a-ab0f-01aa24574d61.vsidx
